body {
    background-color: azure;
}

.hr-white {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid white;
}

.hr-gray {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid gray;
}

.intro-container {
    background-color: aqua;
}

.intro-container-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro-container-paragraph {
    padding-left: 50px;
    padding-right: 50px;
}

.text-white {
    color: white;
}